<div class="container">
    <div class="innerContainer">
        <h1>Fill up the following details</h1>
        <form (ngSubmit)="submitTheForm()">
            <mat-form-field class="field" appearance="fill">
              <mat-label>Student Id</mat-label>
              <input matInput name="studentId" [(ngModel)]="data.studentId">
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Student Name</mat-label>
                <input matInput name="studentName" [(ngModel)]="data.name">
              </mat-form-field>
              <mat-form-field class="field" appearance="fill">
                <mat-label>Student Email</mat-label>
                <input matInput name="studentEmail" [(ngModel)]="data.email">
              </mat-form-field>  
              <mat-form-field class="field" appearance="fill">
                <mat-label>Student Phone</mat-label>
                <input matInput name="studentPhone" [(ngModel)]="data.phone">
              </mat-form-field> 
              <div class="buttons">
                <button type="submit" mat-raised-button color="primary">Submit</button>
                <button id="resetButton" type="reset" mat-raised-button color="primary">Reset</button>
              </div>      
            
          </form>
          
    </div>
</div>
